.TasksContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Task{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #414141;
    margin-top: 30px;
}

.Button{
    height: 30px;
    width: 60px;
    margin: 15px;
    background-color: #d0d0d0;
    color:black;
    font-weight: 600;
}

.CreateTask{
    position: fixed;
    bottom: 70px;
    left:48vw;
    height: 50px;
    width: 100px;
    margin: 15px;
    background-color: #d0d0d0;
    color:black;
    font-weight: 600;
}

p{
    width: 110px;
    text-align: center;
}

.Link{
    text-decoration: none;
    background-color: #d0d0d0;
    color: black;
}